.box-logo-instagran{
    width: 100px;
    height: 45px;
}

img{
   width: 100%; 
   height: auto;
}
.box-menu-principal-web .titulo-link{
    margin: 30px 0px 30px 0px;
}

#first-page{
    font-weight: 700;
}

.box-foto-perfil{
    width: 50px;
    height: 50px;
}

.stories-timeline{
    display: flex;
    flex-direction: column;
}
.image-stories-perfil{
    border-radius: 100px;
}

.box-stories{
    display: flex;
}

.card-title-seguidores{
    font-size: 12px;
}

.card-description-seguidores{
    font-size: 10px;
}